<!DOCTYPE html>
<html>
<head>
    <title>Doctor Assist</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Doctor Assist</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Contact us at: doctorassist@gmail.com | Phone: +91 8301841695, +91 7306152610, +91 7558836996</p>
    </footer>
</body>
</html>
