{% extends 'base.html' %}

{% block content %}
<div class="content" style="margin-top: -20px;">
    <h2 style="margin-bottom: -10px;">Upload Data</h2>

    <form action="/services" method="post" enctype="multipart/form-data">
        <h3 style="margin-top: 20px;">Upload ECG Data</h3>
        <input type="file" name="ecg_file" accept=".csv">
        <button type="submit" name="action" value="ecg">Submit</button>
    </form>

    <form action="/services" method="post" enctype="multipart/form-data">
        <h3>Upload PPG Data</h3>
        <input type="file" name="ppg_file" accept=".csv">
        <button type="submit" name="action" value="ppg">Submit</button>
    </form>

    <form action="/services" method="post" enctype="multipart/form-data">
        <h3>Upload PCG Data</h3>
        <input type="file" name="pcg_file" accept=".csv">
        <button type="submit" name="action" value="pcg">Submit</button>
    </form>

    <footer>
        <p>Contact us at: pulsed@gmail.com | Phone: +91 8301841695, +91 7306152610, +91 7558836996</p>
    </footer>
</div>

</body>
</html>
{% endblock %}
